{% extends 'simple.html' %}
{% load static %}

{% block page_labeling %}
<title>403 | Deepmentor Label</title>
  {{ block.super }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/error.css' %}"/>
{% endblock %}


{% block content %}
<div class="ls-global-error">
  <h1>Server error</h1>
  <img class="ls-global-error__heidi" src="{{ settings.HOSTNAME }}{% static 'images/opossum_broken.png' %}" height="111" alt="Heidi's down" />
  <h2>403 Forbidden</h2>
  <div class="ls-global-error__details">{{ exception }}</div>
  <p class="ls-global-error__actions">
    {% comment %} <a class="ls-global-error__slack button" target="_blank" href="https://slack.labelstud.io/?source=product-403-error">
      <img src="{{ settings.HOSTNAME }}{% static 'images/slack.png' %}" width="16" />
      Ask on Slack
    </a> {% endcomment %}
    <button onClick="history.back()">Go Back</button>
    <button onClick="location.reload()">Reload</button>
  </p>
</div>
{% endblock %}
